<?xml version="1.0"?>
<config>
    <modules>
        <WeCode_PromotionSchedule>
            <version>0.1.0</version>
        </WeCode_PromotionSchedule>
    </modules>
    <global>
        <models>
            <wecode_promotionschedule>
                <class>WeCode_PromotionSchedule_Model</class>
                <resourceModel>wecode_promotionschedule_resource</resourceModel>
            </wecode_promotionschedule>
            <wecode_promotionschedule_resource>
                <class>WeCode_PromotionSchedule_Model_Resource</class>
                <entities>
                    <wecode_tasks>
                        <table>wecode_tasks</table>
                    </wecode_tasks>
                </entities>
            </wecode_promotionschedule_resource>
        </models>
        <blocks>
            <wecode_promotionschedule>
                <class>WeCode_PromotionSchedule_Block</class>
            </wecode_promotionschedule>
        </blocks>
        <helpers>
            <wecode_promotionschedule>
                <class>WeCode_PromotionSchedule_Helper</class>
            </wecode_promotionschedule>
        </helpers>
        <resources>
            <wecode_promotionschedule_setup>
                <setup>
                    <module>WeCode_PromotionSchedule</module>
                </setup>
            </wecode_promotionschedule_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <list>
                <use>admin</use>
                <args>
                    <frontName>promotionschedule</frontName>
                    <module>WeCode_PromotionSchedule_Adminhtml</module>
                </args>
            </list>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <wecode_promotionschedule_cron>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>wecode_promotionschedule/observer::wecode_promotionschedule_cron</model>
                </run>
            </wecode_promotionschedule_cron>
        </jobs>
    </crontab>
</config>